.container {
  width: 500px;
  height: 500px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container .line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 4px;
  height: 8px;
  background-color: red;
  animation: line 2s -1s infinite;
}
.container .list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.container .list > .item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 5px;
  height: 5px;
}
.container .list > .item:nth-child(1) {
  background-color: rgb(193, 176, 111);
  transform: rotateZ(230deg);
  animation: move1 1s 0.2525753524s;
  animation-composition: accumulate;
}
@keyframes move1 {
  from {
    transform: rotateZ(230deg) translate(0);
  }
  to {
    transform: rotateZ(230deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(2) {
  background-color: rgb(171, 108, 111);
  transform: rotateZ(151deg);
  animation: move2 1s 0.9696958048s;
  animation-composition: accumulate;
}
@keyframes move2 {
  from {
    transform: rotateZ(151deg) translate(0);
  }
  to {
    transform: rotateZ(151deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(3) {
  background-color: rgb(50, 242, 141);
  transform: rotateZ(226deg);
  animation: move3 1s 0.6826772468s;
  animation-composition: accumulate;
}
@keyframes move3 {
  from {
    transform: rotateZ(226deg) translate(0);
  }
  to {
    transform: rotateZ(226deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(4) {
  background-color: rgb(186, 206, 183);
  transform: rotateZ(41deg);
  animation: move4 1s 0.6373011887s;
  animation-composition: accumulate;
}
@keyframes move4 {
  from {
    transform: rotateZ(41deg) translate(0);
  }
  to {
    transform: rotateZ(41deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(5) {
  background-color: rgb(130, 72, 200);
  transform: rotateZ(235deg);
  animation: move5 1s 0.1164931743s;
  animation-composition: accumulate;
}
@keyframes move5 {
  from {
    transform: rotateZ(235deg) translate(0);
  }
  to {
    transform: rotateZ(235deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(6) {
  background-color: rgb(204, 183, 177);
  transform: rotateZ(54deg);
  animation: move6 1s 0.5905709943s;
  animation-composition: accumulate;
}
@keyframes move6 {
  from {
    transform: rotateZ(54deg) translate(0);
  }
  to {
    transform: rotateZ(54deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(7) {
  background-color: rgb(110, 151, 238);
  transform: rotateZ(79deg);
  animation: move7 1s 0.4525184687s;
  animation-composition: accumulate;
}
@keyframes move7 {
  from {
    transform: rotateZ(79deg) translate(0);
  }
  to {
    transform: rotateZ(79deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(8) {
  background-color: rgb(209, 213, 156);
  transform: rotateZ(270deg);
  animation: move8 1s 0.2682322326s;
  animation-composition: accumulate;
}
@keyframes move8 {
  from {
    transform: rotateZ(270deg) translate(0);
  }
  to {
    transform: rotateZ(270deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(9) {
  background-color: rgb(185, 102, 248);
  transform: rotateZ(5deg);
  animation: move9 1s 0.373289318s;
  animation-composition: accumulate;
}
@keyframes move9 {
  from {
    transform: rotateZ(5deg) translate(0);
  }
  to {
    transform: rotateZ(5deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(10) {
  background-color: rgb(11, 232, 201);
  transform: rotateZ(143deg);
  animation: move10 1s 0.3213244023s;
  animation-composition: accumulate;
}
@keyframes move10 {
  from {
    transform: rotateZ(143deg) translate(0);
  }
  to {
    transform: rotateZ(143deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(11) {
  background-color: rgb(43, 96, 151);
  transform: rotateZ(288deg);
  animation: move11 1s 0.0047988853s;
  animation-composition: accumulate;
}
@keyframes move11 {
  from {
    transform: rotateZ(288deg) translate(0);
  }
  to {
    transform: rotateZ(288deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(12) {
  background-color: rgb(189, 28, 29);
  transform: rotateZ(229deg);
  animation: move12 1s 0.6744055353s;
  animation-composition: accumulate;
}
@keyframes move12 {
  from {
    transform: rotateZ(229deg) translate(0);
  }
  to {
    transform: rotateZ(229deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(13) {
  background-color: rgb(151, 181, 38);
  transform: rotateZ(187deg);
  animation: move13 1s 0.2328281008s;
  animation-composition: accumulate;
}
@keyframes move13 {
  from {
    transform: rotateZ(187deg) translate(0);
  }
  to {
    transform: rotateZ(187deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(14) {
  background-color: rgb(102, 10, 10);
  transform: rotateZ(359deg);
  animation: move14 1s 0.1863372545s;
  animation-composition: accumulate;
}
@keyframes move14 {
  from {
    transform: rotateZ(359deg) translate(0);
  }
  to {
    transform: rotateZ(359deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(15) {
  background-color: rgb(46, 250, 253);
  transform: rotateZ(295deg);
  animation: move15 1s 0.4441710072s;
  animation-composition: accumulate;
}
@keyframes move15 {
  from {
    transform: rotateZ(295deg) translate(0);
  }
  to {
    transform: rotateZ(295deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(16) {
  background-color: rgb(103, 3, 83);
  transform: rotateZ(163deg);
  animation: move16 1s 0.7840058325s;
  animation-composition: accumulate;
}
@keyframes move16 {
  from {
    transform: rotateZ(163deg) translate(0);
  }
  to {
    transform: rotateZ(163deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(17) {
  background-color: rgb(21, 184, 199);
  transform: rotateZ(36deg);
  animation: move17 1s 0.0678902188s;
  animation-composition: accumulate;
}
@keyframes move17 {
  from {
    transform: rotateZ(36deg) translate(0);
  }
  to {
    transform: rotateZ(36deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(18) {
  background-color: rgb(90, 34, 30);
  transform: rotateZ(340deg);
  animation: move18 1s 0.9075586595s;
  animation-composition: accumulate;
}
@keyframes move18 {
  from {
    transform: rotateZ(340deg) translate(0);
  }
  to {
    transform: rotateZ(340deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(19) {
  background-color: rgb(80, 74, 25);
  transform: rotateZ(309deg);
  animation: move19 1s 0.4133127014s;
  animation-composition: accumulate;
}
@keyframes move19 {
  from {
    transform: rotateZ(309deg) translate(0);
  }
  to {
    transform: rotateZ(309deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(20) {
  background-color: rgb(31, 180, 49);
  transform: rotateZ(20deg);
  animation: move20 1s 0.9990008452s;
  animation-composition: accumulate;
}
@keyframes move20 {
  from {
    transform: rotateZ(20deg) translate(0);
  }
  to {
    transform: rotateZ(20deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(21) {
  background-color: rgb(160, 195, 85);
  transform: rotateZ(195deg);
  animation: move21 1s 0.7623875537s;
  animation-composition: accumulate;
}
@keyframes move21 {
  from {
    transform: rotateZ(195deg) translate(0);
  }
  to {
    transform: rotateZ(195deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(22) {
  background-color: rgb(110, 21, 238);
  transform: rotateZ(229deg);
  animation: move22 1s 0.3378126234s;
  animation-composition: accumulate;
}
@keyframes move22 {
  from {
    transform: rotateZ(229deg) translate(0);
  }
  to {
    transform: rotateZ(229deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(23) {
  background-color: rgb(78, 12, 59);
  transform: rotateZ(180deg);
  animation: move23 1s 0.5211563951s;
  animation-composition: accumulate;
}
@keyframes move23 {
  from {
    transform: rotateZ(180deg) translate(0);
  }
  to {
    transform: rotateZ(180deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(24) {
  background-color: rgb(113, 136, 110);
  transform: rotateZ(311deg);
  animation: move24 1s 0.8601032764s;
  animation-composition: accumulate;
}
@keyframes move24 {
  from {
    transform: rotateZ(311deg) translate(0);
  }
  to {
    transform: rotateZ(311deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(25) {
  background-color: rgb(118, 226, 50);
  transform: rotateZ(48deg);
  animation: move25 1s 0.8993679536s;
  animation-composition: accumulate;
}
@keyframes move25 {
  from {
    transform: rotateZ(48deg) translate(0);
  }
  to {
    transform: rotateZ(48deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(26) {
  background-color: rgb(126, 246, 175);
  transform: rotateZ(42deg);
  animation: move26 1s 0.8917889284s;
  animation-composition: accumulate;
}
@keyframes move26 {
  from {
    transform: rotateZ(42deg) translate(0);
  }
  to {
    transform: rotateZ(42deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(27) {
  background-color: rgb(95, 107, 35);
  transform: rotateZ(173deg);
  animation: move27 1s 0.9733515612s;
  animation-composition: accumulate;
}
@keyframes move27 {
  from {
    transform: rotateZ(173deg) translate(0);
  }
  to {
    transform: rotateZ(173deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(28) {
  background-color: rgb(51, 141, 188);
  transform: rotateZ(259deg);
  animation: move28 1s 0.7112254896s;
  animation-composition: accumulate;
}
@keyframes move28 {
  from {
    transform: rotateZ(259deg) translate(0);
  }
  to {
    transform: rotateZ(259deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(29) {
  background-color: rgb(102, 210, 32);
  transform: rotateZ(1deg);
  animation: move29 1s 0.9920821416s;
  animation-composition: accumulate;
}
@keyframes move29 {
  from {
    transform: rotateZ(1deg) translate(0);
  }
  to {
    transform: rotateZ(1deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(30) {
  background-color: rgb(81, 141, 76);
  transform: rotateZ(329deg);
  animation: move30 1s 0.63816111s;
  animation-composition: accumulate;
}
@keyframes move30 {
  from {
    transform: rotateZ(329deg) translate(0);
  }
  to {
    transform: rotateZ(329deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(31) {
  background-color: rgb(74, 197, 178);
  transform: rotateZ(353deg);
  animation: move31 1s 0.2063460663s;
  animation-composition: accumulate;
}
@keyframes move31 {
  from {
    transform: rotateZ(353deg) translate(0);
  }
  to {
    transform: rotateZ(353deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(32) {
  background-color: rgb(36, 107, 35);
  transform: rotateZ(41deg);
  animation: move32 1s 0.76953823s;
  animation-composition: accumulate;
}
@keyframes move32 {
  from {
    transform: rotateZ(41deg) translate(0);
  }
  to {
    transform: rotateZ(41deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(33) {
  background-color: rgb(222, 27, 110);
  transform: rotateZ(348deg);
  animation: move33 1s 0.3307439246s;
  animation-composition: accumulate;
}
@keyframes move33 {
  from {
    transform: rotateZ(348deg) translate(0);
  }
  to {
    transform: rotateZ(348deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(34) {
  background-color: rgb(221, 140, 118);
  transform: rotateZ(103deg);
  animation: move34 1s 0.1828361531s;
  animation-composition: accumulate;
}
@keyframes move34 {
  from {
    transform: rotateZ(103deg) translate(0);
  }
  to {
    transform: rotateZ(103deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(35) {
  background-color: rgb(214, 192, 252);
  transform: rotateZ(43deg);
  animation: move35 1s 0.6474987148s;
  animation-composition: accumulate;
}
@keyframes move35 {
  from {
    transform: rotateZ(43deg) translate(0);
  }
  to {
    transform: rotateZ(43deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(36) {
  background-color: rgb(53, 71, 226);
  transform: rotateZ(288deg);
  animation: move36 1s 0.5969466251s;
  animation-composition: accumulate;
}
@keyframes move36 {
  from {
    transform: rotateZ(288deg) translate(0);
  }
  to {
    transform: rotateZ(288deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(37) {
  background-color: rgb(211, 196, 181);
  transform: rotateZ(58deg);
  animation: move37 1s 0.1730390794s;
  animation-composition: accumulate;
}
@keyframes move37 {
  from {
    transform: rotateZ(58deg) translate(0);
  }
  to {
    transform: rotateZ(58deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(38) {
  background-color: rgb(158, 44, 43);
  transform: rotateZ(165deg);
  animation: move38 1s 0.9550547552s;
  animation-composition: accumulate;
}
@keyframes move38 {
  from {
    transform: rotateZ(165deg) translate(0);
  }
  to {
    transform: rotateZ(165deg) translateX(50px);
    background: transparent;
  }
}
.container .list > .item:nth-child(39) {
  background-color: rgb(69, 171, 178);
  transform: rotateZ(89deg);
  animation: move39 1s 0.4355122405s;
  animation-composition: accumulate;
}
@keyframes move39 {
  from {
    transform: rotateZ(89deg) translate(0);
  }
  to {
    transform: rotateZ(89deg) translateX(50px);
    background: transparent;
  }
}

@keyframes line {
  to {
    transform: scale(1.4);
  }
}/*# sourceMappingURL=a.css.map */