link(rel='stylesheet', href='06.css')
div.g-container
    div.g-text 谢谢惠顾
    //- div.g-wrap
    //- // 暂时没找到很好的 Reset 方法，建议刷新页面，不然卡死
    div.g-btn Reset
    div.g-box
        -for(var i=0; i<10; i++)
            div.g-row
                -for(var j=0; j<30; j++)
                    div.g-item 